body {
  box-sizing: border-box;
  background-color: #eaeaeb;
  --padding-base: 25px;
  --darkest-color: #4768c5;
  --darkest-color-offset: #859ce4;
  --lightest-color: #faf6f5;
  --lightest-color-accent: #fff;
  --lightest-color-offset: #e5dcd7e0;
  --highlight-color: #fc7a85;
  --screen-color: #98a39d;
  height: 100vh;
}

.App {
  text-align: center;
}

#root {
  display: grid;
  place-items: center;
  height: 100%;
}

#wrapper {
  display: grid;
  grid-auto-columns: minmax(20px, auto);

  grid-template-areas:
    "display display display display"
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  grid-gap: 7px;
  padding: var(--padding-base);
  border: 1px solid #111;
  border-radius: 10px;
  background: var(--lightest-color-offset);

  box-shadow: 13px 13px 15px #222, inset 0 0 20px var(--darkest-color);

  width: 20vw;
  margin: 0 auto;
  justify-items: center;
  background: var(--lightest-color);
  top: 50%;
}

#wrapper * {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
}

#wrapper *:hover {
  box-shadow: inset 1px 1px 5px black;
  transition: ease 0.2s;
}

#readout {
  display: block;
  text-align: right;
  margin: 0 auto;
  background: var(--screen-color);
  box-shadow: inset 1px 1px 5px black;
  color: black;
  grid-area: display;
  width: 100%;
  height: 100%;
  min-height: 100px;
  font-size: 1em;
}

#display,
#inp {
  display: block;
  text-align: right;
  margin: 0 auto;
  width: 90%;
  min-height: 50px;
  font-weight: 300;
  overflow: hidden;
}

#display:hover,
#inp:hover {
  box-shadow: none;
}
#readout:hover,
#readout *:hover {
  cursor: text;
}

#clear,
#divide,
#multiply,
#subtract,
#add,
#equals,
#decimal {
  background: var(--darkest-color-offset);
  color: var(--lightest-color);
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px #000;
}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine {
  background: var(--lightest-color-accent);
  color: var(--darkest-color);
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px #000;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#subtract {
  grid-area: subtract;
}
#add {
  grid-area: add;
}
#decimal {
  grid-area: decimal;
}
#equals {
  grid-area: equals;
}

#clear {
  grid-area: clear;
  color: var(--highlight-color);
  background: var(--lightest-color-offset);
}
